<div  [hidden]="!alive">
    <legend>Selected Test</legend>
    
    <div *ngIf='!aliveTable' class="alert alert-info">
        <strong>Info!</strong> {{info}}
    </div>
    <div *ngIf = 'aliveTable'  class="table-responsive" style="height:60vh; overflow:auto;background-color:#f5f5f5">
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Test Name</th>
                        <th> Lower Bound</th>
                        <th> Upper Bound</th>
                        <th> Units</th>
                        <th> Rate</th>
                        <!-- <th> :: Discount</th>
                        <th> :: Discount %</th>
                        <th> :: Amount</th> -->
                        <!-- <th> :: Action </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let dataTable of dataTables; let i = index">
                        <td>{{dataTable.name}}</td>
                        <td>{{dataTable.lower_bound}}</td>
                        <td>{{dataTable.upper_bound}}</td>
                        <td>{{dataTable.unit}}</td>
                        <td>{{dataTable.rate}}</td>
                        <!-- <td>{{dataTable.Discount}}</td>
                        <td>{{dataTable.discountPer}}</td>
                        <td>{{dataTable.amount}}</td> -->
                        <!-- <td (click)="dataTables.splice(i,1)">remove </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td> Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <!-- <td></td>
                        <td></td>
                        <td></td> -->
                        <td></td>
                </tfoot>
            </table>
            <!-- <pre> {{dataTables | json}} </pre> -->
    </div>
</div>