<div class="container-fluid">
  <legend>Test Details</legend>
  <form class="form-horizontal">
    <div class="row">
      <div class="col-lg-4 col-offset-lg-3">
        <label class="col-lg-4 control-label">Select Test</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <select class="form-control">
            <option>Select Test</option>
            <option>1</option>
            <option>1</option>
            <option>1</option>
          </select>
        </div>
      </div>
    </div>
    <legend>Test Details Form</legend>
    <div class="row">
    </div>
  </form>
</div>