<section *ngIf = "showList">
      <div style="float:right;">
        <input type="button" class="btn btn-info" (click)="configAddDoctor()" value="Add Doctor">
      </div>
    <div>
        <legend>Doctor List</legend>
        <div class="table-responsive" style="overflow:auto;height:85vh;">
          <div *ngIf = "!emptyElement">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th> S.N </th>
                    <th> Name </th>
                    <th> Address </th>
                    <th> Natenality </th>
                    <th> Gender </th>
                    <th> Phone </th>
                    <th> D.O.B </th>
                    <th> M.S </th>
                    <th> E-mail </th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doctorData of doctorDatas; let i = index">
                    <td class="text-info">{{doctorDatas?.length - i}}</td>
                    <td class="text-info" style="cursor:pointer">Dr. {{doctorData?.name}}</td>
                    <td>{{doctorData?.description}}</td>
                    <td>{{doctorData?.registration_no}}</td>
                    <td>{{doctorData?.sss}}</td>
                    <td>{{doctorData?.phone}}</td>
                    <td> </td>
                    <td>{{doctorData?.department}}</td>
                    <td>{{doctorData?.email}}</td>
                    <td>
                      <button class="btn btn-primary" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" (click) = "editDepartment(i)" data-target="#myModal"></i></button>
                      <button class="btn btn-danger" type="button" value="Delete">&nbsp;<i class="fa fa-trash" aria-hidden="true" data-toggle="modal" (click) = "configDelete(i)" data-target="#myModal">&nbsp; </i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div *ngIf = "emptyElement">
              <div class="alert alert-success">{{emptyNote}}
              </div>
          </div>
        </div>
      </div>
</section>

<section *ngIf = "showForm">
    <div style="float:left;">
      <input type="button" class="btn btn-default" (click)="backFromForm()" value="Back">
    </div>
    <div>
      <form style="background-color:#f5f5f5;" class="form-horizontal container-fluid" [formGroup] = "DoctorForm" (ngSubmit) = "DoctorForms()">  
            <legend>Doctor Registration</legend>
                
              <div class="row">
    
    
    
                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.doctor_name.invalid && DoctorForm.controls.doctor_name.dirty,
                  'has-success': DoctorForm.controls.doctor_name.valid && !DoctorForm.controls.doctor_name.dirty }">
                  <label for="name" class="col-lg-4 control-label"> Name</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control input-sm" id="name" formControlName="doctor_name" placeholder="Doctor Name">
                  </div>
                </div>
    
    
    
                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.doctor_address.invalid && DoctorForm.controls.doctor_address.dirty,
                  'has-success': DoctorForm.controls.doctor_address.valid && !DoctorForm.controls.doctor_address.dirty }">
                  <label for="address" class="col-lg-4 control-label"> Address</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control input-sm" id="address" formControlName="doctor_address" placeholder="Doctor Address">
                  </div>
                </div>
    
    
                
                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.identity_card.invalid && DoctorForm.controls.identity_card.dirty,
                  'has-success': DoctorForm.controls.identity_card.valid && !DoctorForm.controls.identity_card.dirty }">
                  <label for="nationality" class="col-lg-4 control-label">Nationality</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control input-sm" id="nationality" formControlName="identity_card" placeholder="Nationality">
                  </div>
                </div>

                
                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.gender.invalid && DoctorForm.controls.gender.touched,
                  'has-success': DoctorForm.controls.gender.valid && !DoctorForm.controls.gender.touched }">
                  <label for="age" class="col-lg-4 control-label">Gender</label>
                  <div class="col-lg-8">
                      <select class="form-control" id="age" formControlName="gender">
                        <option value="" selected="">Select Gender</option>
                        <option> Male</option>
                        <option> Female</option>
                        <option> Third Gender</option>
                      </select>
                  </div>
                </div>
    
    
                              
                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.marital_status.invalid && DoctorForm.controls.marital_status.touched,
                  'has-success': DoctorForm.controls.marital_status.valid && !DoctorForm.controls.marital_status.touched }">
                  <label for="maritalStatus" class="col-lg-4 control-label">Marital Status</label>
                  <div class="col-lg-8">
                      <select class="form-control" id="maritalStatus"  formControlName="marital_status">
                        <option value="" selected="">Select One</option>
                        <option> Married</option>
                        <option> Unmarried</option>
                      </select>
                  </div>
                </div>



                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                [ngClass]="{'has-error': DoctorForm.controls.month.invalid && DoctorForm.controls.month.touched || DoctorForm.controls.day.invalid && DoctorForm.controls.day.touched || DoctorForm.controls.year.invalid && DoctorForm.controls.year.touched,
                'has-success': DoctorForm.controls.month.valid && !DoctorForm.controls.month.touched || DoctorForm.controls.day.valid && !DoctorForm.controls.day.touched || DoctorForm.controls.year.valid && !DoctorForm.controls.year.touched }">
                <label for="" class="col-lg-4 control-label">DOB</label>
                <div class="col-lg-8">
                    <div class="col-lg-5 col-sm-5 col-md-5" style = "padding:0px;">
                      <select class="form-control" formControlName="month">
                        <option value="" selected="">Month</option>
                        <option *ngFor = " let month of months"> {{month}}</option>
                      </select>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-md-3" style = "padding:0px;">
                      <select class="form-control" formControlName="day">
                        <option value="" selected="">Day</option>
                        <option *ngFor = " let day of days"> {{day}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4" style = "padding:0px;">
                      <select class="form-control" formControlName="year">
                        <option value="" selected="">Year</option>
                        <option *ngFor = " let year of years"> {{year}}</option>
                      </select>
                    </div>
                </div>
              </div>
    
    
                
                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.phone.invalid && DoctorForm.controls.phone.dirty,
                  'has-success': DoctorForm.controls.phone.valid && !DoctorForm.controls.phone.dirty }">
                  <label for="phone" pattern="[0-9]+" class="col-lg-4 control-label">Phone</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control input-sm" id="phone" pattern="[0-9]+" formControlName="phone" placeholder="Phone">
                  </div>
                </div>
    
    
                
                <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.email.invalid && DoctorForm.controls.email.dirty,
                  'has-success': DoctorForm.controls.email.valid && !DoctorForm.controls.email.dirty }">
                  <label for="email" class="col-lg-4 control-label">E-mail</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control input-sm" id="email" formControlName="email" placeholder="Email Address">
                  </div>
                </div>
    
    
                
                <!-- <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.reff_by.invalid && DoctorForm.controls.reff_by.touched,
                  'has-success': DoctorForm.controls.reff_by.valid && !DoctorForm.controls.reff_by.touched }">
                  <label for="reffiredBy" class="col-lg-4 control-label">Department</label>
                  <div class="col-lg-8">
                      <select class="form-control" id="reffiredBy"  formControlName="reff_by">
                        <option value="" selected="">Sellect Department</option>
                        <option *ngFor = " let reffBy of reffBys"> {{reffBy}}</option>
                      </select>
                  </div>
                </div> -->
              </div>
    
    
    
              <div class="row">
                <div class="form-group">
                  <div class=" col-sm-4 col-md-4 col-lg-4 col-sm-offset-4  col-md-offset-4  col-lg-offset-4">
                    <div class=" col-sm-4 col-lg-4 col-md-4">
                      <button type="reset" class="btn btn-default btn-xs btn-block">Reset</button>
                    </div>
                    <div class=" col-sm-4 col-lg-4 col-md-4">
                      <button type="submit" class="btn btn-primary btn-xs btn-block">Submit</button>
                    </div>
                    <div class=" col-sm-4 col-lg-4 col-md-4">
                      <button type="button" class="btn btn-info btn-xs btn-block">Print</button>
                    </div>
                  </div>
                </div>
              </div>
      </form>
    </div>
</section>