<section *ngIf="showList">
  <div style="float:right;">
    <input type="button" class="btn btn-info" (click)="configAddDoctor()" value="Add Doctor">
  </div>
  <div>
    <legend>Doctor List</legend>
    <div class="table-responsive" style="overflow:auto;height:85vh;">
      <div *ngIf="!emptyElement">
        <table class="table table-hover">
          <thead>
            <tr>
              <th> S.N </th>
              <th> Name </th>
              <th> Address </th>
              <th> Nationality </th>
              <th> Gender </th>
              <th> Phone </th>
              <th> D.O.B </th>
              <th> M.S </th>
              <th> Commission </th>
              <th> E-mail </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctorData of doctorDatas; let i = index">
              <td class="text-info">{{i+1}}</td>
              <td class="text-info" style="cursor:pointer">{{doctorData?.prefix}}. {{doctorData?.name}}</td>
              <td>{{doctorData?.address}}</td>
              <td>{{doctorData?.registration_no}}</td>
              <td>{{doctorData?.gender}}</td>
              <td>{{doctorData?.phone}}</td>
              <td>{{doctorData?.year}}-{{doctorData?.month}}-{{doctorData?.day}}</td>
              <td>{{doctorData?.department}}</td>
              <td>{{doctorData?.commission}} %</td>
              <td>{{doctorData?.email}}</td>
              <td>
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" (click)="editDepartment(i)" data-target="#myModal"></i>
                </button>
                <button class="btn btn-danger" type="button" value="Delete">&nbsp;
                  <i class="fa fa-trash" aria-hidden="true" data-toggle="modal" (click)="configDelete(i)" data-target="#myModal">&nbsp; </i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="emptyElement">
        <div class="alert alert-success">{{emptyNote}}
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="showForm">
  <div style="float:right;">
    <input type="button" class="btn btn-info" (click)="backFromForm()" value="Back">
  </div>
  <div>
    <legend>Doctor Registration</legend>
    <form class="form-horizontal" [formGroup]="DoctorForm" (ngSubmit)="DoctorForms()" autocomplete="off">

      <div class="row">



        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.doctor_name.invalid && DoctorForm.controls.doctor_name.dirty || DoctorForm.controls.prefix.invalid && DoctorForm.controls.prefix.touched,
                                          'has-success': DoctorForm.controls.doctor_name.valid && !DoctorForm.controls.doctor_name.dirty || DoctorForm.controls.prefix.valid && !DoctorForm.controls.prefix.touched }">
          <label for="name" class="col-lg-4 control-label"> Name*</label>
          <div class="col-lg-8">
            <div class="col-lg-4 col-sm-4 col-md-4" style="padding:0px;">
              <select class="form-control" formControlName="prefix">
                <option value="" selected="">Prefix</option>
                <option *ngFor=" let prefix of prefixes"> {{prefix}}</option>
              </select>
            </div>
            <div class="col-lg-8 col-sm-8 col-md-8" style="padding:0px;">
              <input type="text" class="form-control input-sm" id="name" formControlName="doctor_name" placeholder="Doctor Name">
            </div>
          </div>
        </div>



        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.doctor_address.invalid && DoctorForm.controls.doctor_address.dirty,
                  'has-success': DoctorForm.controls.doctor_address.valid && !DoctorForm.controls.doctor_address.dirty }">
          <label for="address" class="col-lg-4 control-label"> Address*</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-sm" id="address" formControlName="doctor_address" placeholder="Doctor Address">
          </div>
        </div>



        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.identity_card.invalid && DoctorForm.controls.identity_card.dirty,
                  'has-success': DoctorForm.controls.identity_card.valid && !DoctorForm.controls.identity_card.dirty }">
          <label for="nationality" class="col-lg-4 control-label">Nationality*</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-sm" id="nationality" formControlName="identity_card" placeholder="Nationality">
          </div>
        </div>


        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.gender.invalid && DoctorForm.controls.gender.touched,
                  'has-success': DoctorForm.controls.gender.valid && !DoctorForm.controls.gender.touched }">
          <label for="age" class="col-lg-4 control-label">Gender*</label>
          <div class="col-lg-8">
            <select class="form-control" id="age" formControlName="gender">
              <option value="" selected="">Select Gender</option>
              <option *ngFor = "let genderInDropdown of genderInDropdowns; let i =index;"> {{genderInDropdown}}</option>
            </select>
          </div>
        </div>



        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.marital_status.invalid && DoctorForm.controls.marital_status.touched,
                  'has-success': DoctorForm.controls.marital_status.valid && !DoctorForm.controls.marital_status.touched }">
          <label for="maritalStatus" class="col-lg-4 control-label">Marital Status*</label>
          <div class="col-lg-8">
            <select class="form-control" id="maritalStatus" formControlName="marital_status">
              <option value="" selected="">Select One</option>
              <option *ngFor = "let mrt of mrts; let i = index" > {{mrt}}</option>
            </select>
          </div>
        </div>



        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.month.invalid && DoctorForm.controls.month.touched || DoctorForm.controls.day.invalid && DoctorForm.controls.day.touched || DoctorForm.controls.year.invalid && DoctorForm.controls.year.touched,
                'has-success': DoctorForm.controls.month.valid && !DoctorForm.controls.month.touched || DoctorForm.controls.day.valid && !DoctorForm.controls.day.touched || DoctorForm.controls.year.valid && !DoctorForm.controls.year.touched }">
          <label for="" class="col-lg-4 control-label">DOB*</label>
          <div class="col-lg-8">
            <div class="col-lg-4 col-sm-4 col-md-4" style="padding:0px;">
              <select class="form-control" formControlName="month">
                <option value="" selected="">Month</option>
                <option *ngFor=" let month of months"> {{month}}</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4" style="padding:0px;">
              <select class="form-control" formControlName="day">
                <option value="" selected="" style="padding:0px;">Day</option>
                <option *ngFor=" let day of days"> {{day}}</option>
              </select>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4" style="padding:0px;">
              <select class="form-control" formControlName="year">
                <option value="" selected="">Year</option>
                <option *ngFor=" let year of years"> {{year}}</option>
              </select>
            </div>
          </div>
        </div>



        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.phone.invalid && DoctorForm.controls.phone.dirty,
                  'has-success': DoctorForm.controls.phone.valid && !DoctorForm.controls.phone.dirty }">
          <label for="phone" pattern="[0-9]+" class="col-lg-4 control-label">Phone*</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-sm" id="phone" pattern="[0-9]+" formControlName="phone" placeholder="Phone">
          </div>
        </div>



        <div class="form-group col-sm-4 col-lg-4 col-md-4" [ngClass]="{'has-error': DoctorForm.controls.email.invalid && DoctorForm.controls.email.dirty,
                  'has-success': DoctorForm.controls.email.valid && !DoctorForm.controls.email.dirty }">
          <label for="email" class="col-lg-4 control-label">E-mail</label>
          <div class="col-lg-8">
            <input type="text" class="form-control input-sm" id="email" formControlName="email" placeholder="Email Address">
          </div>
        </div>



        <div class="form-group col-sm-4 col-lg-4 col-md-4"
                  [ngClass]="{'has-error': DoctorForm.controls.commission.invalid && DoctorForm.controls.commission.touched,
                  'has-success': DoctorForm.controls.commission.valid && !DoctorForm.controls.commission.touched }">
                  <label for="reffiredBy" class="col-lg-4 control-label">Commission*</label>
                  <div class="col-lg-8">
                    <input  class="form-control input-sm" type="text" formControlName="commission"  placeholder="Doctor %">
                  </div>
                </div>
      </div>



      <div class="row">
        <div class="form-group">
          <div class=" col-sm-4 col-md-4 col-lg-4 col-sm-offset-4  col-md-offset-4  col-lg-offset-4">
            <div class=" col-sm-2 col-lg-2 col-md-2"></div>
            <div class=" col-sm-4 col-lg-4 col-md-4">
              <button type="reset" class="btn btn-default btn-xs btn-block">Reset</button>
            </div>
            <div class=" col-sm-4 col-lg-4 col-md-4">
              <button type="submit" class="btn btn-primary btn-xs btn-block" [disabled] = "submit">{{Submit}}</button>
            </div>
            <div class=" col-sm-2 col-lg-2 col-md-2"></div>
          </div>
        </div>
      </div>
    </form>
  </div>




  
  <div *ngIf = "Notify" class="container">
      <div class="row" id="error-container">
           <div class="span12">
               <div class="alert alert-info">
                  <!-- <button type="button" class="close" (click) = "datadismis()">×</button> -->
                   <span>{{notify}}</span>
               </div>
             </div>
          </div>
      </div>

</section>