<section class="col-lg-12" style="vertical-align:center;">
    <div style = "float: left">
        <ol class="breadcrumb">
            <li><a >Department:{{selectedDepartment}}</a></li>
            <li><a >Department:{{selectedDepartment}}</a></li>
            <li><a >Department:{{selectedDepartment}}</a></li>
          </ol>
    </div>
    <div style="float:right;">
      <input type="button" class="btn btn-info" (click)="showModalToAdd()" value="Add Test Type" data-toggle="modal" data-target="#TestTypeModal">
      <!-- (click) = "departmentToggle()" -->
      <!-- <i style="padding: auto 15px; cursor:pointer;" class="fa fa-plus fa-lg"></i></button> -->
    </div>
  
    <div>
      <legend>Test Type List</legend>
      <div class="table-responsive" style="overflow:auto;height:85vh;">
        <form>
          <table class="table table-hover">
            <thead>
              <tr>
                <th> S.N </th>
                <th> Name </th>
                <th> Description </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let responseData of responseDatas; let i = index">
                <td class="text-info">{{responseDatas?.length - i}}</td>
                <td class="text-info" style="cursor:pointer" (click) = "insideTestType(i)">{{responseData?.name}}</td>
                <td>{{responseData?.description}}</td>
                <td>
                  <button class="btn btn-primary" type="button"><i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="modal" (click) = "editTestType(i)" data-target="#TestTypeModal"> Edit</i></button>
                  <button class="btn btn-danger" type="button" value="Delete"><i class="fa fa-trash" aria-hidden="true" data-toggle="modal" (click) = "configDelete(i)" data-target="#TestTypeModal"> Delete</i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  
  
  
    <!-- Modal -->
    <div class="modal fade" id="TestTypeModal" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
          </div>
          <form [formGroup]="modefyTestType" autocomplete="off">
            <div class="modal-body">
  
              <div class="row">
                <div *ngIf="showDeleteBlock" class="col-sm-10 col-lg-10 col-md-10 col-sm-offset-1">
                  <h3 class="text-danger">
                    <p>{{deleteRemark}}</p>
                  </h3>
                </div>
  
                <div *ngIf="showFormBlock" class="row">
  
  
  
                  <div class="form-group col-sm-10 col-lg-10 col-md-10 col-sm-offset-1" [ngClass]="{'has-error': modefyTestType.controls.TestTypeName.invalid && modefyTestType.controls.TestTypeName.dirty,'has-success': modefyTestType.controls.TestTypeName.valid && !modefyTestType.controls.TestTypeName.dirty }">
                    <label for="name" class="col-sm-4 col-lg-4 col-md-4 control-label">Name</label>
                    <div class="col-sm-8 col-lg-8 col-md-8">
                      <input autocomplete="off" type="text" class="form-control input-sm" id="name" formControlName="TestTypeName" placeholder="Name">
                    </div>
                  </div>
  
  
  
                  <div class="form-group col-sm-10 col-lg-10 col-md-10 col-sm-offset-1" [ngClass]="{'has-error': modefyTestType.controls.TestTypeDescription.invalid && modefyTestType.controls.TestTypeDescription.dirty,'has-success': modefyTestType.controls.TestTypeDescription.valid && !modefyTestType.controls.TestTypeDescription.dirty }">
                    <label for="description" class="col-sm-4 col-lg-4 col-md-4 control-label">Description</label>
                    <div class="col-sm-8 col-lg-8 col-md-8 ">
                      <input autocomplete="off" type="text" class="form-control input-sm" id="description" formControlName="TestTypeDescription" placeholder="Name Description">
                    </div>
                  </div>
  
  
                </div>
              </div>
  
  
  
  
            </div>
  
            <div class="modal-footer">
              <button *ngIf="showAddBtn" type="submit" class="btn btn-primary" [disabled] = "!add" (click)="addTestTypes()">{{Add}}</button>
              <button *ngIf="showUpdateBtn" type="submit" class="btn btn-info" [disabled] = "!update" (click)="updateTestTypes()">{{Update}}</button>
              <button *ngIf="showDeleteBtn" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTestType()">Delete</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
  
      </div>
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <!-- <div class="size-25
  ">
  <pre>
  {{responseDatas  | json}}
  </pre>
  </div> -->
  </section>
  


























<!-- <section class="col-md-6 col-md-offset-3">
    <div style="float:left;">
      <input type="button" class="ng-primary" value="Back" (click)="reload()" >
    </div>
  <div style="float:right;">
    <input type="button" class="ng-primary" value="{{title}}" (click) = "TestTypeToggle()">
  </div>

  <div *ngIf = "!showTestType">
      <hr><p>{{titleAction}}</p><hr>
      <div class="size-25">
        <p>{{selectedDepartment}}</p><hr>
        <form>
          <table class="table">
            <thead>
              <tr>
                <th> Name </th>
                <th> Description </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let responseData of responseDatas; let i = index">
                <td class="link" (click)="insideTestType(i)">{{responseData?.name}}</td>
                <td>{{responseData?.description}}</td>
                <td>
                  <input class="ng-primary" type="button" value="Edit" (click) = "editTestType(i)">
                  <input class="ng-danger" type="button" value="Delete" (click) = "deleteTestType(i)">
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>


  <div *ngIf = "!showTestType">
    <hr><p>{{titleAction}}</p><hr>
    <div class="size-25">
      <form [formGroup] = "modefyTestType">
        <table>
          <tbody style="height:100%;">




            <tr style="vertical-align:center;">
              <td>
                <label for="name"
                [ngClass]="{'error-feedback': modefyTestType.controls.TestTypeName.invalid && modefyTestType.controls.TestTypeName.dirty,
                'no-error-feedback': modefyTestType.controls.TestTypeName.valid && !modefyTestType.controls.TestTypeName.dirty }">Name</label>
              </td>
              <td>
                <input type="text" id="name" formControlName= "TestTypeName">
                  <div class="error-msg" 
                      *ngIf=" modefyTestType.controls.TestTypeName.invalid && modefyTestType.controls.TestTypeName.touched">
                      Invalid Test Type Name!
                  </div>
              </td>
            </tr>



            <tr style="vertical-align:center;">
              <td>
                <label for="description"
                [ngClass]="{'error-feedback': modefyTestType.controls.TestTypeDescription.invalid && modefyTestType.controls.TestTypeDescription.dirty,
                'no-error-feedback': modefyTestType.controls.TestTypeDescription.valid && !modefyTestType.controls.TestTypeDescription.dirty }">Description</label>
              </td>
              <td>
                <input type="text" id="description" formControlName= "TestTypeDescription">
                <div class="error-msg" 
                    *ngIf=" modefyTestType.controls.TestTypeDescription.invalid && modefyTestType.controls.TestTypeDescription.touched">
                    Invalid Test Type Description!
                </div>
              </td>
            </tr>



             


            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr>
              <td></td>
              <td *ngIf="addBotton" style="height:100px; vertical-align:buttom"><input class="ng-info" type="submit" value="Add" (click) = "addTestTypes()">
              </td><td *ngIf="!addBotton" style="height:100px; vertical-align:buttom"><input class="ng-info" type="submit" value="Update" (click) = "updateTestTypes()">
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="size-25
  ">
  <pre>
    {{responseDatas  | json}}
  </pre>
  </div>
</section> -->
