<section style="width:100%;float:left" *ngIf="allowPrint">
  <div id="invoice" style="float:left;width:50%; padding: 0px; display: none;">
    <div style="font-size: 15px; padding: 50px;">
      <section style="width:20%;float:left;">
        <div>
          <img height="80px; width:auto; float:left" src="/assets/img/printicon2.png">
        </div>
      </section>
      <section style="width:60%;float:left;">
        <div style="font-size: 30px; text-align: center">{{hospitalName}}</div>
        <div style="text-align: center">{{hospitalAddress}}</div>
        <div style="text-align: center">Phone: {{hospitalNumber}}</div>
        <div style="text-align: center">Pan Number: {{panNumber}}</div>
        <div style="text-align: center">Reg Number: {{hospitalRegNo}}</div>
      </section>
      <section style="width:20%;float:right;">
        <div>
          <img height="80px; width:auto; float:right" src="/assets/img/printicon3.png">
        </div>
      </section>
      <br>
      <section style="padding:10px;margin-top:10px;">
        <div style="width:100%;display:inline-block">
          <div *ngIf="!printPatientId" style="float: left">Invoice Id: {{printInvoiceId}}</div>
          <div *ngIf="printPatientId" style="float: left">Patient Id: {{printPatientId}}</div>
          <div style="float: right">Date: {{PrintedDate}}</div>
        </div>
        <div style="width:100%;display:inline-block">
          <div *ngIf="printPatientName" style="float: left">Patient Name: {{printPatientName}}</div>
          <div *ngIf="printPatientAge" style="float: right">Age: {{printPatientAge}}</div>
        </div>
        <div style="width:100%;display:inline-block">
          <div *ngIf="printPatientGender" style="float: left">Patient Gender: {{printPatientGender}}</div>
          <div *ngIf="printPatientMs" style="float: right">Marital Status: {{printPatientMs}}</div>
        </div>
        <div style="width:100%;display:inline-block">
          <div *ngIf="printPatientNation" style="float: left">Nationality: {{printPatientNation}}</div>
        </div>
      </section>
      <br>
    </div>
    <div *ngIf="testAndRateForPrints" class="center-block" style="width:50%;float:center;padding-top:5px">
      <table style="width:100vw; border-bottom:1px solid #ddd; border-top:1px solid #ddd">
        <thead>
          <tr>
            <th>Test Name</th>
            <th>Test Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let testList of testAndRateForPrints">
            <td style="text-align:center">{{testList.name}}</td>
            <td style="text-align:center">Rs {{testList.rate}} /-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="padding: 10px;">
      <table style="text-align:center; width:50%; float:right;">
        <!-- <tr>
        <td>Sub Total Amount</td>
        <td>
        
          <p *ngIf="!TempglobleSum" class="form-control-static">Rs {{globleSum}} /-</p>
        
          <p *ngIf="TempglobleSum" class="form-control-static">Rs {{TempglobleSum}} /-</p>
        
        </td>
      </tr> -->
        <tr>
          <td>Sub Total</td>
          <!-- <td></td> -->
          <td>Rs {{globleParam.sub_total}} /-</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td>Rs {{globleParam.discount_amount}} /-</td>
        </tr>
        <!-- <tr>
        <td>Discount Percentage</td>
        <td>{{globleParam.DiscountPer}} %</td>
      </tr> -->
        <tr>
          <td>Cash</td>
          <td>Rs {{globleParam.cash}} /- </td>
        </tr>
        <!-- <tr>
        <td>Cash</td>
        <td>Rs {{globleParam.cash}} /-</td>
      </tr> -->
        <tr>
          <td>Balance</td>
          <td>Rs {{globleParam.balance}} /- {{globleParam.remark?globleParam.remark:'' | uppercase}}</td>
        </tr>
        <!-- <tr>
        <td>Returned Amount</td>
        <td>Rs {{globleParam.MoneyBack}} /-</td>
      </tr> -->
      </table>
      <!-- <pre>{{globleParam | json}}</pre> -->
    </div>
  </div>
  <div id="invoice" style="float:right;width:50%; padding: 0px; display: none;">
    <div style="font-size: 15px; padding: 50px;">
      <section style="width:20%;float:left;">
        <div>
          <img height="80px; width:auto; float:left" src="/assets/img/printicon2.png">
        </div>
      </section>
      <section style="width:60%;float:left;">
        <div style="font-size: 30px; text-align: center">{{hospitalName}}</div>
        <div style="text-align: center">{{hospitalAddress}}</div>
        <div style="text-align: center">Phone: {{hospitalNumber}}</div>
        <div style="text-align: center">Pan Number: {{panNumber}}</div>
        <div style="text-align: center">Reg Number: {{hospitalRegNo}}</div>
      </section>
      <section style="width:20%;float:right;">
        <div>
          <img height="80px; width:auto; float:right" src="/assets/img/printicon3.png">
        </div>
      </section>
      <br>
      <section style="padding:10px;margin-top:10px;">
        <div style="width:100%;display:inline-block">
          <div style="float: left">Patient Id: {{printPatientId}}</div>
          <div style="float: right">Date: {{PrintedDate}}</div>
        </div>
        <div style="width:100%;display:inline-block">
          <div style="float: left">Patient Name: {{printPatientName}}</div>
          <div style="float: right">Age: {{printPatientAge}}</div>
        </div>
        <div style="width:100%;display:inline-block">
          <div style="float: left">Patient Gender: {{printPatientGender}}</div>
          <div style="float: right">Marital Status: {{printPatientMs}}</div>
        </div>
        <div style="width:100%;display:inline-block">
          <div style="float: left">Nationality: {{printPatientNation}}</div>
        </div>
      </section>
      <br>
    </div>
    <div class="center-block" style="width:50%;float:center;padding-top:5px">
      <table style="width:100vw; border-bottom:1px solid #ddd; border-top:1px solid #ddd">
        <thead>
          <tr>
            <th>Test Name</th>
            <th>Test Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let testList of testAndRateForPrints">
            <td style="text-align:center">{{testList.name}}</td>
            <td style="text-align:center">Rs {{testList.rate}} /-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="padding: 10px;">
      <table style="text-align:center; width:50%; float:right;">
        <!-- <tr>
            <td>Sub Total Amount</td>
            <td>
            
              <p *ngIf="!TempglobleSum" class="form-control-static">Rs {{globleSum}} /-</p>
            
              <p *ngIf="TempglobleSum" class="form-control-static">Rs {{TempglobleSum}} /-</p>
            
            </td>
          </tr> -->
        <tr>
          <td>Sub Total</td>
          <!-- <td></td> -->
          <td>Rs {{globleParam.sub_total}} /-</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td>Rs {{globleParam.discount_amount}} /-</td>
        </tr>
        <!-- <tr>
            <td>Discount Percentage</td>
            <td>{{globleParam.DiscountPer}} %</td>
          </tr> -->
        <tr>
          <td>Cash</td>
          <td>Rs {{globleParam.cash}} /- </td>
        </tr>
        <!-- <tr>
            <td>Cash</td>
            <td>Rs {{globleParam.cash}} /-</td>
          </tr> -->
        <tr>
          <td>Balance</td>
          <td>Rs {{globleParam.balance}} /- {{globleParam.remark?globleParam.remark:'' | uppercase}}</td>
        </tr>
        <!-- <tr>
            <td>Returned Amount</td>
            <td>Rs {{globleParam.MoneyBack}} /-</td>
          </tr> -->
      </table>
      <!-- <pre>{{globleParam | json}}</pre> -->
    </div>
  </div>
</section>








<div *ngIf="startLoading" class="loading">
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
  <div class="loading-bar"></div>
</div>

<div *ngIf="Notify" class="container">
  <div class="row" id="error-container">
    <div class="span12">
      <div class="alert alert-info">
        <!-- <button type="button" class="close" (click)="datadismis()">x</button> -->
        <span>{{notify}}</span>
      </div>
    </div>
  </div>
</div>






<section style="padding-top:10px;padding-left:10px" class="col-lg-2 col-md-2 col-sm-2">
  <div class="list-group">
    <a (click)="active1 = true; active2 = false; active3=false" class="list-group-item" [ngClass]="{'active': active1}"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;View Transaction</a>
    <a (click)="allInvoices()" class="list-group-item" [ngClass]="{'active': active2}"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Invoices</a>
    <!-- <a (click)="active1 = false; active2 = false; active3=true" class="list-group-item" [ngClass]="{'active': active3}">Patient</a> -->
  </div>
</section>
<section *ngIf="active1" style="padding-top:10px;padding-right:10px;padding-left:10px;" class="col-lg-10 col-md-10 col-sm-10">
  <div>

    <button *ngIf="!activepatienttable" style="margin-top: 5px auto;" type="button" class="btn btn-primary" (click)="back()">
      <i class="fa fa-home" style="font-size:30px;" aria-hidden="true"></i>
    </button>

    <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="getPatientByDate()">

      <div style="float:left; margin-left:20px;">
        <my-date-range-picker *ngIf="activepatienttable" style="padding:0px; border-radius:0px; border:0px;" class="form-control"
          name="mydaterange" [options]="myDateRangePickerOptions" placeholder="Search By Date" formControlName="myDateRange"></my-date-range-picker>
      </div>
      <div style="float:left">
        <button style="height:36px; width:auto;" *ngIf="activepatienttable" class="btn btn-info" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
      <div class="input-group col-sm-3" *ngIf="activepatienttable" style="margin-left:50px; float:right">
        <i class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </i>
        <input [formControl]="searchByName" style="height:34px; float:left" class="form-control" type="text" placeholder="Search By Name">
      </div>


      <span></span>
    </form>
    <div *ngIf="!activepatienttable" style="margin-bottom:0px; margin-top:5px;" class=" col-sm-12">
      <div>
        <ul class="nav nav-tabs">
          <li *ngIf="activePayment && !patientAllLedgersChk" style="cursor:pointer" [ngClass]="{'active': !activePayment}" (click)="activeInvoice(0)">
            <a>Invoices</a>
          </li>
          <li *ngIf="activePayment &&  !patientAllLedgersChk" [ngClass]="{'active': activePayment}">
            <a>Detail Ledgers</a>
          </li>
          <li *ngIf="activePayment && patientAllLedgersChk" [ngClass]="{'active': activePayment}">
            <a>Patient Ledgers</a>
          </li>
          <li class="namePatient pull-right">
            <a class="namePatient">{{patientName}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="container">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div> -->

    <caption *ngIf="!activePayment && activepatienttable" class="col-sm-12">
      <h4 style="text-align:center; margin:0px;">
        <b>PATIENT LIST</b>
      </h4>
    </caption>
    <div style="height:80vh;overflow:auto;" *ngIf="!activePayment && activepatienttable" class="pull-right col-sm-12">
      <div style=" overflow:auto; display:block;">
        <table class="table table-responsive table-hover table-striped">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Last Balance</th>
              <th>Remark</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patientList of patientLists; let i = index" [ngClass]="{'success':patientList.remark == 'cr', 'danger':patientList.remark == 'dr'}">
              <td>{{i+1}}</td>
              <td>{{patientList.patient_name}}</td>
              <td>{{patientList.patient_address}}</td>
              <td>{{patientList.phone}}</td>
              <td>{{patientList.balance}}</td>
              <td>{{patientList.remark?patientList.remark:'Null'}}</td>
              <td>{{patientList.updated_at}}</td>
              <td>
                <button class="btn btn-success btn-xs" (click)="patientName = patientList.patient_name" (click)="getPatientInvoice(patientList.id)">
                  <i class="fa fa-eye" aria-hidden="true">&nbsp; Invoice</i>
                </button>
                <button class="btn btn-info btn-xs" (click)="patientName = patientList.patient_name" (click)="getAllPatientLedger(patientList.id)">
                  <i class="fa fa-eye" aria-hidden="true">&nbsp; Ledger</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div *ngIf = "activePayment && activepatienttable" style="margin-bottom:10px;" class="pull-right col-sm-12">
      <caption class="col-sm-12"><h4 style="text-align:center;"><b>PATIENT LADGERS</b></h4></caption>
        <table class="table table-responsive table-hover table-striped">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patientList of patientLists; let i = index">
              <td style="cursor:pointer" class="text-info">{{i+1}}</td>
              <td style="cursor:pointer" class="text-info"  (click) = "patientName = patientList.patient_name" (click)="getPatientInvoice(patientList.id)">{{patientList.patient_name}}</td>
              <td style="cursor:pointer" class="text-info"  (click) = "patientName = patientList.patient_name" (click)="getPatientInvoice(patientList.id)">{{patientList.patient_address}}</td>
              <td style="cursor:pointer" class="text-info"  (click) = "patientName = patientList.patient_name" (click)="getPatientInvoice(patientList.id)">{{patientList.phone}}</td>
              <td style="cursor:pointer" class="text-info"  (click) = "patientName = patientList.patient_name" (click)="getPatientInvoice(patientList.id)">{{patientList.created_at}}</td>
            </tr>
          </tbody>
        </table>
    </div> -->

    <div *ngIf="!activePayment && !activepatienttable" style="margin-bottom:10px;" class="pull-right col-sm-12">
      <div style=" height:80vh; overflow:auto;">
        <table class="table table-responsive table-hover table-striped">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Date</th>
              <th>Invoice</th>
              <th>Particular</th>
              <th>Sub Total</th>
              <th>Cash</th>
              <th>Discount</th>
              <!-- <th>Received Cash</th> -->
              <!-- <th>Return Cash</th> -->
              <th>Balance</th>
              <th>Remark</th>
              <th>Print</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patientInvoice of patientInvoices; let i = index">
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">{{i+1}}</td>
              <td class="text-info" style="cursor:pointer; font-size:11px;" (click)="getLedger(i)">{{patientInvoice.updated_at}}</td>
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">{{patientInvoice.id}}</td>
              <td class="text-info" style="cursor:pointer; font-size:11px;" (click)="getLedger(i)">{{patientInvoice.particular}}</td>
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">Rs {{patientInvoice.sub_total}} /-</td>
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">Rs {{patientInvoice.cash}} /-</td>
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">Rs {{patientInvoice.discount_amount}} /-</td>
              <!-- <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">Rs {{patientInvoice.received_cash}} /-</td> -->
              <!-- <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">Rs {{patientInvoice.returned_cash}} /-</td> -->
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">Rs {{patientInvoice.balance}} /-</td>
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">{{patientInvoice.remark ? patientInvoice.remark : 'Null'}}</td>
              <td class="text-info" style="cursor:pointer;" (click)="getLedger(i)">{{patientInvoice.print}}</td>
              <td style="border-left:1px solid #ddd">
                <button (click)="printInvoices(patientInvoice)" class="btn btn-info btn-xs">
                  <i class="glyphicon glyphicon-print"></i>&nbsp;Print
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="activePayment && !activepatienttable && !patientAllLedgersChk" style="margin-bottom:10px;" class="pull-right col-sm-12">
      <!-- <button style="margin-top: 5px auto;" type="button" class="btn btn-primary" (click)="back()"><i class="fa fa-home"  style="font-size:30px;"aria-hidden="true"></i></button> -->
      <div style=" height:80vh; overflow:auto;">
        <table class="table table-responsive table-hover table-striped">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Date</th>
              <th>Invoice</th>
              <th>Particular</th>
              <th>Dr</th>
              <th>Cr</th>
              <th>Discount</th>
              <!-- <th>Received Cash</th> -->
              <th>Return Cash</th>
              <th>Balance</th>
              <th>Remark</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patientLedger of patientLedgers; let i = index">
              <td class="text-info">{{i+1}}</td>
              <td style="font-size:11px;">{{patientLedger.updated_at}}</td>
              <td>{{patientLedger.invoice_id}}</td>
              <td style="font-size:11px;">{{patientLedger.particular}}</td>
              <td>Rs {{patientLedger.dr}} /-</td>
              <td>Rs {{patientLedger.cr}} /-</td>
              <td>Rs {{patientLedger.discount_amt}} /-</td>
              <!-- <td>Rs {{patientLedger.received_cash}} /-</td> -->
              <td>Rs {{patientLedger.returned_cash}} /-</td>
              <!-- <td>Rs {{patientLedger.backed_money ? patientLedger.backed_money : 0 }} /-</td> -->
              <td>Rs {{patientLedger.balance}} /-</td>
              <td>{{patientLedger.remark ? patientLedger.remark : 'Null'}}</td>
              <td>{{patientLedger.print}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="activePayment && !activepatienttable && patientAllLedgersChk" style="margin-bottom:10px;" class="pull-right col-sm-12">
      <!-- <button style="margin-top: 5px auto;" type="button" class="btn btn-primary" (click)="back()"><i class="fa fa-home"  style="font-size:30px;"aria-hidden="true"></i></button> -->
      <div style=" height:80vh; overflow:auto;">
        <table class="table table-responsive table-hover table-striped">
          <thead>
            <tr>
              <th>S.N</th>
              <th>Date</th>
              <th>Invoice</th>
              <th>Particular</th>
              <th>Dr</th>
              <th>Cr</th>
              <th>Discount</th>
              <th>Return Cash</th>
              <th>Balance</th>
              <th>Remark</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patientAllLedger of patientAllLedgers; let i = index">
              <td class="text-info">{{i+1}}</td>
              <td style="font-size:11px;">{{patientAllLedger.updated_at}}</td>
              <td>{{patientAllLedger.invoice_id}}</td>
              <td style="font-size:11px;">{{patientAllLedger.particular}}</td>
              <td>Rs {{patientAllLedger.dr}} /-</td>
              <td>Rs {{patientAllLedger.cr}} /-</td>
              <td>Rs {{patientAllLedger.discount_amt}} /-</td>
              <!-- <td>Rs {{patientAllLedger.backed_money ? patientAllLedger.backed_money : 0 }} /-</td> -->
              <td>Rs {{patientAllLedger.returned_cash}} /-</td>
              <td>Rs {{patientAllLedger.balance}} /-</td>
              <td>{{patientAllLedger.remark ? patientAllLedger.remark : 'Null'}}</td>
              <td>{{patientAllLedger.print}}</td>
            </tr>
          </tbody>
        </table>
        <!-- <pre>{{patientAllLedger | json}}</pre> -->
      </div>
    </div>
    <!-- <pre> {{ patientLadgerAndInvoices | json }}</pre> -->
  </div>
</section>
<section *ngIf="active2" style="padding-top:10px;padding-right:10px;padding-left:10px;" class="col-lg-10 col-md-10 col-sm-10">
  <div>
    <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="getInvoicesByDate()">

      <div style="float:left; margin-left:20px;">
        <my-date-range-picker style="padding:0px; border-radius:0px; border:0px;" class="form-control" name="mydaterange" [options]="myDateRangePickerOptions"
          placeholder="Search By Date" formControlName="myDateRangeForinvoices"></my-date-range-picker>
      </div>
      <div style="float:left">
        <button style="height:36px;" class="btn btn-info" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
      <div class="input-group col-sm-3"  style="margin-left:50px; float:right">
        <i class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
          </i>
        <input [formControl]="searchByName" style="height:34px; float:left" class="form-control" type="text" placeholder="Search By Name">
      </div>
      <div style="float:right; font-size:11px;">
        <!-- <div>
              <p style="text-align:float-left; font-size:8px">From: {{fromDate}}</p>
              <p style="text-align:float-right; font-size:8px;">To: {{toDate}}</p>
            </div> -->
        <div style="padding:0px; margin:0px;">
          <table *ngIf="totalBookedAmt">
            <!-- <thead>
                  <tr>
                    <th>Total</th>
                    <th>Amount</th>
                  </tr>
                </thead> -->
            <tbody>
              <tr>
                <td>
                  <i *ngIf="totalBookedAmt" style="text-align:center">Sub Tot: </i>
                </td>
                <td>
                  <i *ngIf="totalBookedAmt" style="text-align:center"> Rs {{totalBookedAmt}} /-</i>
                </td>
              </tr>
              <tr>
                <td>
                  <i *ngIf="totalCash" style="text-align:center">Cash: </i>
                </td>
                <td>
                  <i *ngIf="totalCash" style="text-align:center"> Rs {{totalCash}} /-</i>
                </td>
              </tr>
              <tr>
                <td>
                  <i *ngIf="totalDis" style="text-align:center">Discount: </i>
                </td>
                <td>
                  <i *ngIf="totalDis" style="text-align:center"> Rs {{totalDis}} /-</i>
                </td>
              </tr>
              <!-- <tr>
                    <td>
                      <i *ngIf="totalBck" style="text-align:center">Returned: </i>
                    </td>
                    <td>
                      <i *ngIf="totalBck" style="text-align:center"> Rs {{totalBck}} /-</i>
                    </td>
                  </tr> -->
              <tr>
                <td>
                  <i *ngIf="totalDrAmt" style="text-align:center">Debit Amt: </i>
                </td>
                <td>
                  <i *ngIf="totalDrAmt" style="text-align:center"> Rs {{totalDrAmt}} /-</i>
                </td>
              </tr>
              <!-- <tr style="border-bottom:1px solid #999;"> -->
              <tr>
                <td>
                  <i *ngIf="totalCrAmt" style="text-align:center">Credit Amt: </i>
                </td>
                <td>
                  <i *ngIf="totalCrAmt" style="text-align:center"> Rs {{totalCrAmt}} /-</i>
                </td>
              </tr>
              <tr>
                <td>
                  <i *ngIf="totalBal" style="text-align:center">Total Balance: </i>
                </td>
                <td>
                  <i *ngIf="totalBal" style="text-align:center"> Rs {{totalBal}} /-</i>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <h4 *ngIf="totalBookedAmt" style="text-align:center">Total Booked: Rs {{totalBookedAmt}} /-</h4>              
              <h4 *ngIf="totalCash" style="text-align:center">Total Cash: Rs {{totalCash}} /-</h4> -->
        </div>
      </div>
      <!-- <div class="input-group col-sm-3" style="margin-left:50px; float:right">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-search"></i>
            </span>
            <input [formControl]="searchByName" style="height:34px; float:left" class="form-control" type="text" placeholder="Search By Name">
          </div> -->


      <span></span>
    </form>
  </div>
  <div>
    <caption class="col-sm-12">
      <h4 style="text-align:center; margin:0px;">
        <b>INVOICES</b>
      </h4>
    </caption>
  </div>
  <div style="height:75vh; width:100%; overflow:auto;">
    <div>
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th style="border-right:2px solid #ddd">S.N</th>
            <th>Date</th>
            <th>Invoice</th>
            <th>Name</th>
            <th>Particular</th>
            <th>Sub Total</th>
            <th>Cash</th>
            <th>Discount</th>
            <!-- <th>Received Cash</th> -->
            <!-- <th>Return Cash</th> -->
            <th>Balance</th>
            <th>Remark</th>
            <th style="border-left:2px solid #ddd">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let allInvoice of allInvoicesLedgers;let i = index">
            <td style="border-right:1px solid #ddd">{{i+1}}</td>
            <td style="font-size:11px;">{{allInvoice.created_at}}</td>
            <td>{{allInvoice.id}}</td>
            <td>{{allInvoice.patient_name}}</td>
            <td style="font-size:11px;">{{allInvoice.particular}}</td>
            <td>{{allInvoice.sub_total}}</td>
            <td>{{allInvoice.cash}}</td>
            <td>{{allInvoice.discount_amount}}</td>
            <!-- <td>{{allInvoice.received_cash}}</td> -->
            <!-- <td>{{allInvoice.returned_cash}}</td> -->
            <td>{{allInvoice.balance}}</td>
            <td>{{allInvoice.remark != null?allInvoice.remark:'Null'}}</td>
            <td style="border-left:1px solid #ddd">
              <button (click)="printInvoices(allInvoice)" class="btn btn-info btn-xs">
                <i class="glyphicon glyphicon-print"></i>&nbsp;Print
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>