<div class="container">
  <div style="margin-bottom:10px; margin-top:5px;" class="container col-sm-12">
    <div class="container">
        <ul class="nav nav-tabs">
            <li style="cursor:pointer" [ngClass] = "{'active': !activePayment}" (click)="activeInvoice(0)"><a>Invoices</a></li>
            <li style="cursor:pointer" [ngClass] = "{'active': activePayment}" (click)="activeInvoice(1)"><a>Patient Ledgers</a></li>
            <li class="pull-right"><a>{{patientName}}</a></li>
        </ul>
    </div>
  </div>
  <div class="container">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf = "!activePayment && activepatienttable" style="margin-bottom:10px;" class="pull-right col-sm-12">
    <caption class="col-sm-12" ><h4 style="text-align:center;"><b>PATIENT INVOICES</b></h4></caption>
    <!-- <div style=" height:80vh; overflow:auto;" > -->
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patientList of patientLists; let i = index">
            <td style="cursor:pointer" class="text-info">{{i+1}}</td>
            <td style="cursor:pointer" class="text-info" (click) = "patientName = patientList.patient_name" (click)="getPatientInvoice(patientList.id)">{{patientList.patient_name}}</td>
            <td>{{patientList.patient_address}}</td>
            <td>{{patientList.phone}}</td>
            <td>{{patientList.created_at}}</td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
  </div>

  <div *ngIf = "activePayment && activepatienttable" style="margin-bottom:10px;" class="pull-right col-sm-12">
    <caption class="col-sm-12"><h4 style="text-align:center;"><b>PATIENT LADGERS</b></h4></caption>
    <!-- <div  style=" height:80vh; overflow:auto;" > -->
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patientList of patientLists; let i = index">
            <td style="cursor:pointer" class="text-info">{{i+1}}</td>
            <td style="cursor:pointer" class="text-info"  (click) = "patientName = patientList.patient_name" (click)="getPatientInvoice(patientList.id)">{{patientList.patient_name}}</td>
            <td>{{patientList.patient_address}}</td>
            <td>{{patientList.phone}}</td>
            <td>{{patientList.created_at}}</td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
  </div>

  <div *ngIf = "!activePayment && !activepatienttable" style="margin-bottom:10px;" class="pull-right col-sm-12">
    <input style="margin-top: 5px auto;" type="button" class="btn btn-primary center-block" (click)="back()" value="Home">
    <div  style=" height:80vh; overflow:auto;">
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Invoice Id</th>
            <th>Particular</th>
            <th>Cash</th>
            <th>Balance</th>
            <th>Discount</th>
            <th>Discount %</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patientLadgerAndInvoice of patientLadgerAndInvoices; let i = index">
            <td class="text-info">{{i+1}}</td>
            <td>{{patientLadgerAndInvoice.invoices_id}}</td>
            <td>{{patientLadgerAndInvoice.invoices_particular}}</td>
            <td>Rs {{patientLadgerAndInvoice.cash}} /-</td>
            <td>Rs {{patientLadgerAndInvoice.invoices_balance}} /-</td>
            <td>Rs {{patientLadgerAndInvoice.discount_amount}} /-</td>
            <td>{{patientLadgerAndInvoice.discount_percentage}} %</td>
            <td>{{patientLadgerAndInvoice.invoices_remark ? patientLadgerAndInvoice.invoices_remark : 'Null'}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>

  <div *ngIf = "activePayment && !activepatienttable" style="margin-bottom:10px;" class="pull-right col-sm-12">
    <input  style="margin-top: 50px auto;" type="button" class="btn btn-primary center-block" (click)="back()" value="Home">
    <div  style=" height:80vh; overflow:auto;" >
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Invoice Id</th>
            <th>Particular</th>
            <th>Dr</th>
            <th>Cr</th>
            <th>Back Money</th>
            <th>Balance</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patientLadgerAndInvoice of patientLadgerAndInvoices; let i = index">
            <td class="text-info">{{i+1}}</td>
            <td>{{patientLadgerAndInvoice.invoice_id}}</td>
            <td>{{patientLadgerAndInvoice.particular}}</td>
            <td>Rs {{patientLadgerAndInvoice.dr}} /-</td>
            <td>Rs {{patientLadgerAndInvoice.cr}} /-</td>
            <td>Rs {{patientLadgerAndInvoice.backed_money ? patientLadgerAndInvoice.backed_money : 0 }} /-</td>
            <td>Rs {{patientLadgerAndInvoice.balance}} /-</td>
            <td>{{patientLadgerAndInvoice.remark ? patientLadgerAndInvoice.remark : 'Null'}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  <!-- <pre> {{ patientLadgerAndInvoices | json }}</pre> -->
</div>