<div *ngIf="Notify" class="container">
    <div class="row" id="error-container">
      <div class="span12">
        <div class="alert alert-danger">
          <!-- <button type="button" class="close" (click)="datadismis()">×</button> -->
          <span>{{notify}}</span>
        </div>
      </div>
    </div>
  </div>


<div *ngIf="startLoading" class="loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
  
  <!-- <div *ngIf="showTable && routedList" class="container">
      <div class="col-sm-4" id="search-container">
        <div>
          <a class="close" (click) = "SearchBarDismiss()">X</a>
          <strong>Searched List of routed</strong>
        </div>
        <div style="height:100vh; overflow:auto;">
          <table *ngIf = "!SearchNotify" class="table table-hover">
    
            <thead>
              <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Date </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patientData of patientDatas; let i = index">
                <td class="text-info" style="cursor:pointer"(click)="activePayment = true" (click)="routedinvoice(patientData)">{{patientData?.reg_no}}</td>
                <td>{{patientData?.patient_name}}</td>
                <td>{{patientData?.created_at}}</td>
              </tr>
            </tbody>
          </table>
          <a *ngIf = "SearchNotify" class="text-danger"> <strong>{{Searchnotify}}</strong> </a>
        </div>
        
      </div>
    </div> -->
  
  
  
  
  
  
  
  
  
  
  
  <!-- <div *ngIf = "activepaymentForm" class="col-sm-8 pull-left">
    <div style="margin-bottom:20px; margin-top:5px;" class="container col-sm-12">
      <div class="container">
        <ul class="nav nav-tabs">
          <li style="cursor:pointer" [ngClass] = "{'active': !activePayment}" (click)="activeInvoice(0)"><a>Payment</a></li>
          <li style="cursor:pointer" [ngClass] = "{'active': activePayment}" (click)="activeInvoice(1)"><a>Read Only</a></li>
        </ul>
      </div>
    </div>
  </div> -->
  <div style="margin:20px; padding:25px 0 0 50px;" *ngIf="activepaymentForm && !activePayment" class="col-sm-8">
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Patient ID: </label>
      <div class="col-sm-6">
        <p class="form-control-static">{{patientId}}</p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Date: </label>
      <div class="col-sm-6">
        <p class="form-control-static">{{registeredDate}}</p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Name: </label>
      <div class="col-sm-6">
        <p class="form-control-static">{{patientName}}</p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Address: </label>
      <div class="col-sm-6">
        <p class="form-control-static">{{patientAddress}}</p>
      </div>
    </div>
  
    <div *ngIf ="totalExist" class="form-group">
        <label class="control-label col-sm-6" for="email"> Sub Total Amount: </label>
        <div class="col-sm-6">
          <p *ngIf="!TempglobleSum" class="form-control-static">Rs {{previousSubTotal}} /- &nbsp;&nbsp;&nbsp;&nbsp; <i style="cursor:pointer;" (click)="showTestList()" class="fa fa-eye" aria-hidden="true"></i></p>

          <p *ngIf="TempglobleSum" class="form-control-static">Rs {{previousSubTotal}} /- &nbsp;&nbsp;&nbsp;&nbsp; <i *ngIf="TESTBOOKINGID" style="cursor:pointer;" (click)="showTestList()" class="fa fa-eye" aria-hidden="true"></i></p>
        </div>
      </div>
  
   
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Previous Amount: </label>
      <div class="col-sm-6">
        <p class="form-control-static" [ngClass] = "{'text-danger': drOrCr == 'dr','text-success':drOrCr == 'cr'}">Rs {{previousAmount}} /- {{drOrCr | uppercase}}</p>
      </div>
    </div>
  
    <div *ngIf="ShowDiscount" class="form-group">
      <label class="control-label col-sm-6" for="email"> Discount Amount: </label>
      <div class="col-sm-6">
        <p class="form-control-static">Rs {{discountedAmount?discountedAmount: 0}} /-</p>
      </div>
    </div>
  
    
  
      <!-- <div class="form-group">
        <label class="control-label col-sm-6" for="email"> </label>
        <div class="col-sm-6">
          <label class="checkbox-inline">
            <input type="checkbox" value="">Want to pay previous amount?
          </label>
        </div>
      </div> -->
  
    <form [formGroup] = "transactionData" (ngSubmit)= "transactionDatas(transactionData.value)" autocomplete="off">
  
  
  
      <div *ngIf="ShowDiscount" class="form-group">
  
        
        <div class="row">
          <div class="col-sm-6"><label for="">Discount:</label></div>
          <div class="col-sm-6">
            <label class="radio-inline ">
              <input type="radio" name="checkDiscount"  (change)="calculateTotalAmount()" formControlName = "checkDiscount" value="0" >Discount
            </label>
            <label class="radio-inline ">
              <input type="radio" name="checkDiscount"  (change)="calculateTotalAmount()" formControlName = "checkDiscount" value="1">Discount percentage
            </label>
          </div>
  
        </div>
  
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-2" [ngClass]="{'has-error': transactionData.controls.discountcheck.invalid && transactionData.controls.discountcheck.dirty,
          'has-success':transactionData.controls.discountcheck.valid && !transactionData.controls.discountcheck.dirty}">
            <input class="form-control" type="text" formControlName = "discountcheck" maxlength="6">
          </div>
          <div class="col-sm-4"></div>
  
        </div>
      </div>
  
  
  
      <div class="form-group">
          <label class="control-label col-sm-6" for="email"> Total Amount: </label>
          <div class="col-sm-6">
            <p class="form-control-static"  [ngClass] = "{'text-danger': drCrInTotal == 'dr','text-success':drCrInTotal == 'cr'}">
              Rs {{totalAmt}} /- {{drCrInTotal | uppercase}} &nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <label *ngIf="!transactionData.controls.credit.value && drCrInTotal == 'cr'"  class="checkbox-inline">
                    <input type="checkbox" name="backedMoney"  (change)="calculateTotalAmount()" formControlName = "backedMoney" value="1"/>Return Back
              </label> -->
            </p>
          </div>
        </div>
  
  
  
  
      <div class="form-group">
        <label class="control-label col-sm-6" for="email"> Cash: </label>
        <div class="col-sm-2" [ngClass]="{'has-error': transactionData.controls.cash.invalid && transactionData.controls.cash.dirty,
        'has-success':transactionData.controls.cash.valid && !transactionData.controls.cash.dirty}">
          <input class="form-control" type="text" formControlName = "cash" maxlength="6">
          <!-- <span>
            <label *ngIf = !CheckBoxdisabled class="checkbox-inline">
              <input type="checkbox" value="" formControlName = "payOld">pay Previous
            </label>
          </span> -->
          <span>
            <label *ngIf = "UseForCredit" class="checkbox-inline">
              <input type="checkbox" value="" formControlName = "credit">Credit
            </label>
          </span>
        </div>
        <div class="col-sm-4"></div>
      </div>
  
  
  
  
      <!-- <div class="form-group">
        <label class="control-label col-sm-6" for="email"><h3> Returnable Money: </h3></label>
        <div class="col-sm-2">
          <h3><p class="form-control-static">Rs {{returnableAmt}} /- </p></h3>
        </div>
        <div class="col-sm-4"></div>
      </div> -->
  
      <!-- <div class="form-group">
        <label class="control-label col-sm-6" for="email"> Cash[Previous Amount]: </label>
        <div class="col-sm-2">
          <input class="form-control" type="text" formControlName = "cash">
        </div>
        <div class="col-sm-4"></div>
      </div> -->
  
      
  
      <!-- <div class="form-group">
        <label class="control-label col-sm-6" for="email"> Returnable Money[Previous Amount]: </label>
        <div class="col-sm-2">
          <input class="form-control" type="text" formControlName = "cash">
        </div>
        <div class="col-sm-4"></div>
      </div> -->
  
      <!-- <div class="form-group">
        <label class="control-label col-sm-6" for="email">  </label>
        <div class="col-sm-2">
          
          <label class="checkbox-inline">
            <input type="checkbox" value="">Credit
          </label>
        </div>
        <div class="col-sm-4"></div>
      </div> -->
      
      <!-- <div class="form-group">
      </div> -->
  
      <!-- <div>
        <br>
        <br>
  
      </div> -->
      <div class="form-group">
        <label class="control-label col-sm-6" for="email"></label>
        <div class="col-sm-2">
          <button class="btn btn-primary" type="submit" [disabled]="pay">{{Pay}}</button>
        </div>
        <div class="col-sm-4"></div>
      </div>
  
  
    </form>
  </div>
  
  <!-- 
  <div *ngIf = "activePayment">
  <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Patient ID: </label>
      <div class="col-sm-6">
        <p class="form-control-static">{{patientId}}</p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Date: </label>
      <div class="col-sm-6">
        <p class="form-control-static">{{registeredDate}}</p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Name: </label>
      <div class="col-sm-6">
        <p class="form-control-static">{{patientName}}</p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Current Amount: </label>
      <div class="col-sm-6">
        <p class="form-control-static">Rs {{ currentAmt }} /-</p>
      </div>
    </div>
  
    
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Previous Amount: </label>
      <div class="col-sm-6">
        <p class="form-control-static">Rs {{previousAmount}} /-</p>
      </div>
    </div>
  
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Total Amount: </label>
      <div class="col-sm-6">
        <p class="form-control-static">Rs {{sum}} /-</p>
      </div>
    </div>
  </div> -->
  
  
  
  <!-- <pre>{{ patientDatas | json }}</pre> -->


  <div style="visibility:hidden">
    <div id="testbookingTransaction" style="padding: 0px;">
      <div style="font-size: 10px; padding: 50px; border-bottom:1px solid #888;">
        <div style="font-size: 30px; text-align: center">{{hospitalName}}</div>
        <div style="text-align: center">{{hospitalAddress}}</div>
        <div style="text-align: center">Phone: {{hospitalNumber}}</div>
        <div style="text-align: center">Pan Number: {{panNumber}}</div>
        <div style="text-align: center">Reg Number: {{hospitalRegNo}}</div>
        <div style="float: right">Date: {{PrintedDate}}</div>
        <div style="float: left">Patient Name: {{patientName}}</div>
        <br>
        <div style="float: left">Patient Address: {{patientAddress}}</div>
      </div>
      <div class="center-block" style="width:50%;float:center">
        <table style="width:100vw; border-bottom:1px solid #ddd">
          <thead>
            <tr>
              <th>Test Name</th>
              <th>Test Rate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let testList of testAndRateForPrints">
              <td style="text-align:center">{{testList.name}}</td>
              <td style="text-align:center">Rs {{testList.rate}} /-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="padding: 10px; padding-right:25px; float:right">
        <table *ngIf="globleParam">
          <tr>
            <td>Sub Total Amount</td>
            <!-- <td>===> </td> -->
            <td>Rs {{globleSum?globleSum:TempglobleSum}} /-</td>
          </tr>
          <tr *ngIf="globlepreviousAmount">
            <td>Previous Amount</td>
            <!-- <td></td> -->
            <td>Rs {{globlepreviousAmount}} /- {{drOrCr | uppercase}}</td>
          </tr>
          <tr *ngIf="globleParam.DiscountAmount">
            <td>Discount Amount</td>
            <td>Rs {{globleParam.DiscountAmount}} /-</td>
          </tr>
          <tr *ngIf="globleParam.DiscountPer">
            <td>Discount Percentage</td>
            <td>{{globleParam.DiscountPer}} %</td>
          </tr>
          <tr>
            <td>Total Amount</td>
            <!-- <td>===> </td> -->
            <td>Rs {{globleTotalAmount}} /- {{printDrOrCr | uppercase}}</td>
          </tr>
          <tr *ngIf="globleParam.cash">
            <td>Cash</td>
            <!-- <td>===> </td> -->
            <td>Rs {{globleParam.cash}} /-</td>
          </tr>
          <tr *ngIf="globleParam.pl_balance">
            <td>Balance</td>
            <td>{{globleParam.pl_balance}} {{globleParam.invoiceRemark | uppercase}}/-</td>
          </tr>
          <tr *ngIf="globleParam.MoneyBack">
            <td>Returned Amount</td>
            <!-- <td>===> </td> -->
            <td>Rs {{globleParam.MoneyBack}} /-</td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">VIEW TEST</h4>
        </div>
        <div class="modal-body">
          <table *ngIf="testAndRateForPrints" class="table table-responsive table-hover table-striped">
            <thead>
              <tr>
                <th>Test</th>
                <th>Rate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let testList of testAndRateForPrints let i=index">
                <td>{{testList.name}}</td>
                <td>{{testList.rate}}</td>
              </tr>
            </tbody>
          </table>
          <h3 *ngIf="showLog" class="text-info">{{value}}</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>