#error-container {
	position: fixed;
	z-index: 9999999;
	top: 2px;
	right: 125px;
	box-shadow: 2px 2px 2px #333;
}
.alert {
    padding: 5px;
    margin-bottom: 0px;
    border: 1px solid transparent;
	border-radius: 4px;
}
span{
	padding: 0px;
	padding-right: 15px;
	font-weight: bold;
}

.bodyBg {
	background-image: url("/assets/img/copy.png");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: contain;
	opacity: 0.3;
	filter: alpha(opacity=30);
}