<div *ngIf="Notify" class="container">
  <div class="row" id="error-container">
    <div class="span12">
      <div class="alert alert-info">
        <!-- <button type="button" class="close" (click)="datadismis()">x</button> -->
        <span>{{notify}}</span>
      </div>
    </div>
  </div>
</div>


<div *ngIf="startLoading" class="loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>


  
<div class="row">
  <div class="col-sm-8 col-md-8 col-lg-8">
    <!-- <div class="panel panel-info"> -->
      <!-- <div class="panel-heading">Search Bar</div> -->
      <div class="panel-body">
        <!-- <form class="form-inline" [formGroup]="SearchPayment" (ngSubmit)="searchPay()"> -->
        <!-- <form class="form-inline" autocomplete="off">
          <div class="form-group col-lg-9">
            <label class=" col-lg-4" for="search"> Search </label>
            <input [readonly] = "disableme" class="form-control col-lg-8" type="text" name="search" [formControl]="searchField" placeholder="Input Patient ID (or Name)">
          </div>
        </form> -->
      </div>
    <!-- </div> -->
  </div>

  <!-- <div class="col-sm-6 col-md-6 col-lg-6">
    
  </div> -->
</div>
<!-- <pre>{{patientDatasDetails|json}}</pre> -->
<div  class="container">
  <div class="col-sm-4" id="search-container">
    <div class="alert">
      <!-- <button type="button" class="close">X</button> -->
      <a style="padding-top:12px;" class="close" (click) = "SearchBarDismiss()">X</a>
      <!-- <strong>Searched List of transaction</strong> -->
    </div>


    
    <form class="form-horizontal" autocomplete="off">
        <div class="input-group col-lg-11">
            <i class="input-group-addon"><i class="glyphicon glyphicon-search"></i></i>
          <input style="height:32px;" [readonly] = "disableme" class="form-control input-lg" type="text" name="search" [formControl]="searchField" placeholder="Input Patient ID (or Name)">
        </div>
      </form>



    <div *ngIf="showTable" style="height:80vh; overflow:auto;">
      <table  style="background-color:transparent;" *ngIf = "!SearchNotify" class="table table-hover">

        <thead>
          <tr>
            <!-- <th> S.N </th> -->
            <th> Id </th>
            <th> Name </th>
            <th> Date </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patientData of patientDatas; let i = index">
            <!-- <tr> -->
            <!-- <td class="text-info">{{patientDatas.length - i}}</td> -->
            <td class="text-info" style="cursor:pointer" (click)="invoice(patientData)">{{patientData?.reg_no}}</td>
            <td class="text-info" style="cursor:pointer" (click)="invoice(patientData)">{{patientData?.patient_name}}</td>
            <td class="text-info" style="cursor:pointer" (click)="invoice(patientData)">{{patientData?.created_at}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <pre> {{patientDatas | json}} </pre> -->
      <a *ngIf = "SearchNotify" class="text-danger"> <strong>{{Searchnotify}}</strong> </a>
    </div>
  </div>
</div>





<!-- <div *ngIf = "activepaymentForm" class="col-sm-8 pull-left">
  <div style="margin-bottom:20px; margin-top:5px;" class="container col-sm-12">
    <div class="container">
      <ul class="nav nav-tabs">
        <li style="cursor:pointer" [ngClass] = "{'active': !activePayment}" (click)="activeInvoice(0)"><a>Payment</a></li>
        <li style="cursor:pointer" [ngClass] = "{'active': activePayment}" (click)="activeInvoice(1)"><a>See Old</a></li>
      </ul>
    </div>
  </div>
</div> -->
<legend *ngIf="activepaymentForm" class="col-sm-8">TRANSACTION</legend>
<div style="margin:20px; padding:25px 0 0 50px;" *ngIf="activepaymentForm" class="col-sm-8">

  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Patient ID: </label>
    <div class="col-sm-6">
      <p class="form-control-static">{{patientId}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Last Date: </label>
    <div class="col-sm-6">
      <p class="form-control-static">{{registeredDate}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Name: </label>
    <div class="col-sm-6">
      <p class="form-control-static">{{patientName}}</p>
    </div>
  </div>

  <!-- <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Current Amount: </label>
      <div class="col-sm-6">
        <p class="form-control-static">Rs {{ currentAmt }} /-</p>
      </div>
    </div>-->

 

    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Previous Balance: </label>
      <div class="col-sm-6">
        <p class="form-control-static" [ngClass] = "{'text-success':drOrCr == 'cr', 'text-danger':drOrCr == 'dr'}">Rs {{globleSum}} /-  {{drOrCr | uppercase}}</p>
      </div>
    </div>

  <div *ngIf = "!hidePayment" class="form-group">
      <label class="control-label col-sm-6" for="email"> Discount Amount: </label>
      <div class="col-sm-6">
        <p class="form-control-static">Rs {{discountedAmount?discountedAmount:0}} /-</p>
      </div>
    </div>

  <form [formGroup] = "transactionData" (ngSubmit)= "transactionDatas(transactionData.value)" autocomplete="off">

     <div *ngIf="!hidePayment" class="form-group">

      
      <div class="row">
        <div class="col-sm-6"><label for="">Discount:</label></div>
        <div class="col-sm-6">
          <label class="radio-inline ">
            <input type="radio" name="checkDiscount"  (change)="calculateTotalAmount()" formControlName = "checkDiscount" value='0' >Discount
          </label>
          <label class="radio-inline ">
            <input type="radio" name="checkDiscount"  (change)="calculateTotalAmount()" formControlName = "checkDiscount" value='1' >Discount percentage
          </label>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-2"  [ngClass]="{'has-error': transactionData.controls.discountcheck.invalid && transactionData.controls.discountcheck.dirty,
        'has-success':transactionData.controls.discountcheck.valid && !transactionData.controls.discountcheck.dirty}">
          <input class="form-control" type="text" formControlName = "discountcheck" maxlength="6">
        </div>
        <div class="col-sm-4"></div>

      </div>
    </div>



    <!-- <div class="form-group">
        <label class="control-label col-sm-6" for="email"> Total Amount: </label>
        <div class="col-sm-6">
          <p class="form-control-static">Rs {{totalAmt}} /-</p>
        </div>
      </div> -->

      <div class="form-group">
          <label class="control-label col-sm-6" for="email"> Total Amount: </label>
          <div class="col-sm-6">
            <p class="form-control-static" [ngClass] = "{'text-success':tempDrOrCr == 'cr', 'text-danger':tempDrOrCr == 'dr'}">Rs {{globleTotalAmount - (discountedAmount?discountedAmount:0)}} /-  {{tempDrOrCr | uppercase}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label *ngIf="!transactionData.controls.credit.value &&!transactionData.controls.cash.value && tempDrOrCr == 'cr' && hidePayment" class="checkbox-inline">
                  <input type="checkbox" name="backedMoney" (click)="transactionData.controls.credit.setValue(0)" (change)="calculateTotalAmount()" formControlName="backedMoney" value="1" />Pay Back
                </label></p>
          </div>
        </div>




    <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Cash: </label>
      <div class="col-sm-2" [ngClass]="{'has-error': transactionData.controls.cash.invalid && transactionData.controls.cash.dirty,
            'has-success':transactionData.controls.cash.valid && !transactionData.controls.cash.dirty}">
        <input class="form-control" type="text" (change)="calculateTotalAmount()" (change)="transactionData.controls.backedMoney.setValue(0)" formControlName="cash" maxlength="6">
        <span>
          <label *ngIf="UseForCredit && transactionData.controls.cash.value>0"  class="checkbox-inline">
            <input (click)="transactionData.controls.backedMoney.setValue(0)" type="checkbox" value="" formControlName="credit">Credit
          </label>
        </span>
      </div>
      <div class="col-sm-4"></div>
    </div>


   




   

    <!-- <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Cash[Previous Amount]: </label>
      <div class="col-sm-2">
        <input class="form-control" type="text" formControlName = "cash">
      </div>
      <div class="col-sm-4"></div>
    </div> -->

    

    <!-- <div class="form-group">
      <label class="control-label col-sm-6" for="email"> Returnable Money[Previous Amount]: </label>
      <div class="col-sm-2">
        <input class="form-control" type="text" formControlName = "cash">
      </div>
      <div class="col-sm-4"></div>
    </div> -->

    <!-- <div class="form-group">
      <label class="control-label col-sm-6" for="email">  </label>
      <div class="col-sm-2">
        
        <label class="checkbox-inline">
          <input type="checkbox" value="">Credit
        </label>
      </div>
      <div class="col-sm-4"></div>
    </div> -->
    
    <!-- <div class="form-group">
    </div> -->

    <!-- <div>
      <br>
      <br>

    </div> -->
    <div class="form-group">
      <label class="control-label col-sm-6" for="email"></label>
      <div class="col-sm-2">
        <button class="btn btn-primary" type="submit" [disabled]="pay">{{Pay}}</button>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div *ngIf="returnableAmt && !hidePayment" class="form-group">
      <label class="control-label col-sm-6" for="email"><h3> Return Amount: </h3></label>
      <div class="col-sm-2">
        <h3><p class="form-control-static">Rs {{returnableAmt}} /- </p></h3>
      </div>
      <div class="col-sm-4"></div>
    </div>


<!-- <div *ngIf = "activePayment">
<div class="form-group">
    <label class="control-label col-sm-6" for="email"> Patient ID: </label>
    <div class="col-sm-6">
      <p class="form-control-static">{{patientId}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Date: </label>
    <div class="col-sm-6">
      <p class="form-control-static">{{registeredDate}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Name: </label>
    <div class="col-sm-6">
      <p class="form-control-static">{{patientName}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Current Amount: </label>
    <div class="col-sm-6">
      <p class="form-control-static">Rs {{ currentAmt }} /-</p>
    </div>
  </div>

  
  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Previous Amount: </label>
    <div class="col-sm-6">
      <p class="form-control-static">Rs {{previousAmount}} /-</p>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-6" for="email"> Total Amount: </label>
    <div class="col-sm-6">
      <p class="form-control-static">Rs {{sum}} /-</p>
    </div>
  </div>
</div> -->



<!-- <pre>{{ patientDatas | json }}</pre> -->



<div  [ngClass]="{'bodyBg':copyRecipt ==true}"  id = "testbookingTransaction" style="padding: 0px; display: none;">
    <div style="font-size: 15px; padding: 50px;">
      <div style="font-size: 30px; text-align: center">{{hospitalName}}</div>
      <div style="text-align: center">{{hospitalAddress}}</div>
      <div style="text-align: center">Phone: {{hospitalNumber}}</div>
      <div style="text-align: center">Pan Number: {{panNumber}}</div>
      <div style="text-align: center">Reg Number: {{hospitalRegNo}}</div>
      <div style="float: right">Date: {{PrintedDate}}</div>
      <div style="float: left">Patient Name: {{patientName}}</div><br>
      <div style="float: left">Patient Address: {{patientAddress}}</div>
      <div style="float: right">Print: Original</div>
    </div><hr>
    <div style="padding: 10px;">
      <table *ngIf="globleParam">
        <tr>
          <td>Your Amount</td>
          <td>Rs {{globleSum}} /-</td>
        </tr>
        <tr>
          <td>Discount Amount</td>
          <td>Rs {{globleParam.discountAmt}} /-</td>
        </tr>
        <tr>
          <td>Discount Percentage</td>
          <td>{{globleParam.discountPer}} %</td>
        </tr>
        <tr>
          <td>Total Amount</td>
          <td>Rs {{globleTotalAmount}} /- {{printDrOrCr | uppercase}}</td>
        </tr>
        <tr>
          <td>Cash</td>
          <!-- <td>===> </td> -->
          <td>Rs {{globleParam.cash}} /-</td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>Rs {{globleParam.balance}} {{globleParam.remark | uppercase}}/-</td>
        </tr>
        <tr>
          <td>Returned Amount</td>
          <td>Rs {{globleParam.backedMoney}} /-</td>
        </tr>
      </table>
    </div>
  </div>