		<!-- <div  onload="myFunction()" class="patient-details responsive-block" style="background-color: #d4dae8;">
			<div class="responsive-table">
				<p>Test Booking</p><hr> -->
				<div *ngIf = "Notify" class="container">
					<div class="row" id="error-container">
							 <div class="span12">  
									 <div class="alert alert-danger">
											 <span>{{notify}}</span>
									 </div>
								 </div>
							</div>
					</div>
				<form style="background-color:#f5f5f5;" class="form-horizontal container-fluid" [formGroup] = "patientData" (ngSubmit) = "patientDatas()" autocomplete="off">

						<legend>Patient Registration</legend>
						
					<div class="row">



						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.patient_name.invalid && patientData.controls.patient_name.dirty,
							'has-success': patientData.controls.patient_name.valid && !patientData.controls.patient_name.dirty }">
							<label for="name" class="col-lg-4 control-label">Patient Name*</label>
							<div class="col-lg-8">
								<input [readonly]= "DisableInput" type="text" class="form-control input-sm" id="name" formControlName="patient_name" placeholder="Patient Name">
							</div>
						</div>



						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.patient_address.invalid && patientData.controls.patient_address.dirty,
							'has-success': patientData.controls.patient_address.valid && !patientData.controls.patient_address.dirty }">
							<label for="address" class="col-lg-4 control-label">Patient Address*</label>
							<div class="col-lg-8">
								<input type="text" [readonly]= "DisableInput" class="form-control input-sm" id="address" formControlName="patient_address" placeholder="Patient Address">
							</div>
						</div>


						
						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.identity_card.invalid && patientData.controls.identity_card.dirty,
							'has-success': patientData.controls.identity_card.valid && !patientData.controls.identity_card.dirty }">
							<label for="nationality" class="col-lg-4 control-label">Nationality*</label>
							<div class="col-lg-8">
								<input [readonly]= "DisableInput" type="text" class="form-control input-sm" id="nationality" formControlName="identity_card" placeholder="Nationality">
							</div>
						</div>


						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.gender.invalid && patientData.controls.gender.touched,
							'has-success': patientData.controls.gender.valid && !patientData.controls.gender.touched }">
							<label for="age" class="col-lg-4 control-label">Gender*</label>
							<div class="col-lg-8">
									<select class="form-control" id="age" formControlName="gender" (change)="selectGender($event)">
									  <option value="" selected="">Select Gender</option>
									  <option *ngFor = "let genderInDropdown of genderInDropdowns; let i =index;"> {{genderInDropdown}}</option>
									</select>
							</div>
						</div>
						
						
						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.age.invalid && patientData.controls.age.touched,
							'has-success': patientData.controls.age.valid && !patientData.controls.age.touched }">
							<label for="age" class="col-lg-4 control-label">Age*</label>
							<div class="col-lg-8">
									<input [readonly]= "DisableInput" type="text" [formControl]="agecontrol" pattern="[0-9]+" class="form-control input-sm" id="age" formControlName="age" placeholder="Age">
									<!-- <select class="form-control" id="age" formControlName="age" (change)="selectAge($event)">
									  <option value='' selected="">Select Age</option>
									  <option *ngFor = "let age_groupInDropdown of age_groupInDropdowns; let i = index;"> {{age_groupInDropdown}}</option>
									</select> -->
							</div>
						</div>


						
						<!-- <div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.month.invalid && patientData.controls.month.touched || patientData.controls.day.invalid && patientData.controls.day.touched || patientData.controls.year.invalid && patientData.controls.year.touched,
							'has-success': patientData.controls.month.valid && !patientData.controls.month.touched || patientData.controls.day.valid && !patientData.controls.day.touched || patientData.controls.year.valid && !patientData.controls.year.touched }">
							<label for="" class="col-lg-4 control-label">DOB</label>
							<div class="col-lg-8">
									<div class="col-lg-5 col-sm-5 col-md-5" style = "padding:0px;">
										<select class="form-control" formControlName="month">
											<option value="" selected="">Month</option>
											<option *ngFor = " let month of months"> {{month}}</option>
										</select>
									</div>
									<div class="col-lg-3 col-sm-3 col-md-3" style = "padding:0px;">
										<select class="form-control" formControlName="day">
											<option value="" selected="">Day</option>
											<option *ngFor = " let day of days"> {{day}}</option>
										</select>
									</div>
									<div class="col-lg-4 col-sm-4 col-md-4" style = "padding:0px;">
										<select class="form-control" formControlName="year">
											<option value="" selected="">Year</option>
											<option *ngFor = " let year of years"> {{year}}</option>
										</select>
									</div>
							</div>
						</div> -->


						
						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.marital_status.invalid && patientData.controls.marital_status.touched,
							'has-success': patientData.controls.marital_status.valid && !patientData.controls.marital_status.touched }">
							<label for="maritalStatus" class="col-lg-4 control-label">Marital Status*</label>
							<div class="col-lg-8">
									<select class="form-control" id="maritalStatus"  formControlName="marital_status">
									  <option value="" selected="">Select One</option>
									  <option *ngFor = "let mrt of mrts; let i = index" > {{mrt}}</option>
									</select>
							</div>
						</div>


						
						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.phone.invalid && patientData.controls.phone.dirty,
							'has-success': patientData.controls.phone.valid && !patientData.controls.phone.dirty }">
							<label for="phone" class="col-lg-4 control-label">Phone*</label>
							<div class="col-lg-8">
								<input type="text" pattern="[0-9]+" class="form-control input-sm" id="phone" formControlName="phone" placeholder="Phone">
							</div>
						</div>


						
						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.email.invalid && patientData.controls.email.dirty,
							'has-success': patientData.controls.email.valid && !patientData.controls.email.dirty }">
							<label for="email" class="col-lg-4 control-label">E-mail</label>
							<div class="col-lg-8">
								<input type="text" class="form-control input-sm" id="email" formControlName="email" placeholder="Email Address">
							</div>
						</div>


						
						<div class="form-group col-sm-4 col-lg-4 col-md-4"
							[ngClass]="{'has-error': patientData.controls.reff_by.invalid && patientData.controls.reff_by.touched,
							'has-success': patientData.controls.reff_by.valid && !patientData.controls.reff_by.touched }">
							<label for="reffiredBy" class="col-lg-4 control-label">Reffired By*</label>
							<div class="col-lg-8">
									<select class="form-control" id="reffiredBy"  formControlName="reff_by">
									  <option value="" selected="">Sellect Reffired Doctor</option>
									  <option *ngFor = "let reffBy of reffBys; let i = index">{{reffBy.prefix}}.{{reffBy.name}}</option>
									</select>
							</div>
						</div>
					</div>



					<div style="margin-top:10px;" class="row">
						<div class="form-group">
							<div class=" col-sm-2 col-md-2 col-lg-2 col-sm-offset-5  col-md-offset-5  col-lg-offset-5">
								<div class=" col-sm-6 col-lg-6 col-md-6">
									<button type="reset" class="btn btn-default btn-block">Reset</button>
								</div>
								<div class=" col-sm-6 col-lg-6 col-md-6">
									<button type="submit" [disabled]="!submitButtonStatus" class="btn btn-primary btn-block">{{submitButtonStatus?'save':'Saving....'}}</button>
								</div>
								<!-- <div class=" col-sm-4 col-lg-4 col-md-4">
									<button type="button" class="btn btn-info btn-xs btn-block" (click)="print()">Print</button>
								</div> -->
							</div>
						</div>
					</div>

					<!-- <pre>{{genderInDropdowns | json}}</pre> -->
					<!-- <ul *ngIf = "refresh" id = "clickToRefresh">
						<li routerLink = "/lab/patient-geristered"></li>
						<li routerLink = "/lab/test-booking"></li>
					</ul> -->
				</form>
			<!-- </div>
		</div><hr> -->

		<!-- {{patientId}} -->
			<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Alert</h4>
						</div>
						<div class="modal-body">
							<h4>{{title}}</h4>
						</div>

						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal" (click) = refreshAndRedirect()> No </button>
							<button [routerLink]="[routeToPayment?.link]" class="btn btn-primary" (click) = goToPayment()> Yes </button>
						</div>
					</div>

				</div>
			</div>


			<div *ngIf="showTable" class="container">
					<div class="col-sm-4" id="search-container">
						<div class="alert">
							<!-- <button type="button" class="close">X</button> -->
							<a class="close" (click) = "SearchBarDismiss()">x</a>
							<strong>Search Bar</strong>
						</div>
						<div style="height:80vh;overflow:auto;">
							<table class="table table-hover">
				
								<thead>
									<tr>
										<!-- <th> S.N </th> -->
										<th> ID </th>
										<th> Name </th>
										<th> Date </th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let searchedData of searchedDatas; let i = index">
										<td class="text-info" style="cursor:pointer" (click)="SetPatientToForm(i)">{{searchedData?.reg_no}}</td>
										<td class="text-info" style="cursor:pointer" (click)="SetPatientToForm(i)">{{searchedData?.patient_name}}</td>
										<td class="text-info" style="cursor:pointer" (click)="SetPatientToForm(i)">{{searchedData?.created_at}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>









		<!-- <form class="form-horizontal">
				<fieldset>
				  <legend>Legend</legend>
				  <div class="form-group">
					<label for="inputEmail" class="col-lg-2 control-label">Email</label>
					<div class="col-lg-10">
					  <input type="text" class="form-control" id="inputEmail" placeholder="Email">
					</div>
				  </div>
				  <div class="form-group">
					<label for="inputPassword" class="col-lg-2 control-label">Password</label>
					<div class="col-lg-10">
					  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
					  <div class="checkbox">
						<label>
						  <input type="checkbox"> Checkbox
						</label>
					  </div>
					</div>
				  </div>
				  <div class="form-group">
					<label for="textArea" class="col-lg-2 control-label">Textarea</label>
					<div class="col-lg-10">
					  <textarea class="form-control" rows="3" id="textArea"></textarea>
					  <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
					</div>
				  </div>
				  <div class="form-group">
					<label class="col-lg-2 control-label">Radios</label>
					<div class="col-lg-10">
					  <div class="radio">
						<label>
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						  Option one is this
						</label>
					  </div>
					  <div class="radio">
						<label>
						  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						  Option two can be something else
						</label>
					  </div>
					</div>
				  </div>
				  <div class="form-group">
					<label for="select" class="col-lg-2 control-label">Selects</label>
					<div class="col-lg-10">
					  <select class="form-control" id="select">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					  </select>
					  <br>
					  <select multiple="" class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					  </select>
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
					  <button type="reset" class="btn btn-default">Cancel</button>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</div>
				  </div>
				</fieldset>
			  </form> -->