/* .patient-details{
	position: relative;
	width: 100%;
	height: 20vh;
	float: left;
	overflow-x: auto;
	overflow-y: auto;
	outline: 0px 5px 5px 0px solid #c3c9d7;
	background-color: #c3c9d7;
} */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 8px;
	padding-right: 8px;
}
/* .input-sm, .form-control{
	height: 27px;
} */
.btn{
	padding: 2px 8px;
}
.form-control{
	font-size: 12px;
	padding: 5px 12px;
}
.form-horizontal .form-group{
	margin-right: 0px;
}
form{
	height: 30vh;
	overflow-y: auto;
}
.btn-info{
	background-color: #17a2b8;
}

#error-container {
	position: fixed;
	z-index: 9999999;
	top: 2px;
	right: 125px;
	box-shadow: 2px 2px 2px #333;
}
.alert {
    padding: 5px;
    margin-bottom: 0px;
    border: 1px solid transparent;
	border-radius: 4px;
}
span{
	padding: 0px;
	padding-right: 15px;
	font-weight: bold;
}

#search-container{
	border: 1px solid #17a2b8;
	border-bottom: 0px;
	position: fixed;
	z-index: 888;
	top: 40px;
	bottom: 10px;
	right: 15px;
	background-color: white;
	/* box-shadow: 1px 5px 5px #888888; */
}