<!-- <div class="ng-lightgray full-page">
	<div style="height:100%; float: left; width: 50%; box-shadow: 0px 2px 5px #888888; overflow-x: auto;">
		<table style="width: 100%; margin: 0px;">
			<tbody>
				<tr>
					<td><label>Patient Id </label></td>
					<td><input type="test" name=""></td>
					<td><label>Select Age </label></td>
					<td><input type="test" name=""></td>
				</tr>
				<tr>
					<td><label>Patient Name </label></td>
					<td><input type="test" name=""></td>
					<td><label>Nationality </label></td>
					<td><input type="test" name=""></td>
				</tr>
				<tr>
					<td><label>Marital Status </label></td>
					<td><input type="test" name=""></td>
					<td><label>father/husband name </label></td>
					<td><input type="test" name=""></td>
				</tr>
				<tr>
					<td><label>DOB </label></td>
					<td><input type="test" name=""></td>
					<td><label>E-mail </label></td>
					<td><input type="test" name=""></td>
				</tr>
				<tr>
					<td><label>Select Gender </label></td>
					<td><input type="test" name=""></td>
					<td><label>Patient Id </label></td>
					<td><input type="test" name=""></td>
				</tr>
				<tr>
					<td><label>Referred By </label></td>
					<td><input type="test" name=""></td>
					<td><label>Patient Id </label></td>
					<td><input type="test" name=""></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td>
						<input type="button" value="Save">						
					</td>
					<td><input type="button" value="Print"></td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div style="height:100%; float: left; width: 25%; padding-left: 10px; box-shadow: 0px 2px 5px #888888; overflow-x: auto;">
		<table style="width: 100%; margin: 0px;">
					<tbody>
						<tr>
							<td><label>Patient Id </label></td>
							<td><input type="test" name=""></td>
							<td><label>Select Age </label></td>
							<td><input type="test" name=""></td>
						</tr>
						<tr>
							<td><label>Patient Name </label></td>
							<td><input type="test" name=""></td>
							<td><label>Nationality </label></td>
							<td><input type="test" name=""></td>
						</tr>
						<tr>
							<td><label>Marital Status </label></td>
							<td><input type="test" name=""></td>
							<td><label>father/husband name </label></td>
							<td><input type="test" name=""></td>
						</tr>
						<tr>
							<td><label>DOB </label></td>
							<td><input type="test" name=""></td>
							<td><label>E-mail </label></td>
							<td><input type="test" name=""></td>
						</tr>
						<tr>
							<td><label>Select Gender </label></td>
							<td><input type="test" name=""></td>
							<td><label>Patient Id </label></td>
							<td><input type="test" name=""></td>
						</tr>
						<tr>
							<td><label>Referred By </label></td>
							<td><input type="test" name=""></td>
							<td><label>Patient Id </label></td>
							<td><input type="test" name=""></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
							<td>
								<input type="button" value="Save">						
							</td>
							<td><input type="button" value="Print"></td>
						</tr>
					</tfoot>
				</table>
	</div>
	<div style="height: 100%; width: 25%; float: left; box-shadow: 0px 2px 5px #888888;">
		<h3 style="text-align: center;">Department</h3><hr>
		<ul style="width: 100%;">
			<li>
				CT_Scan
			</li>
			<li>
				CT_Scan
			</li><li>
				CT_Scan
			</li><li>
				CT_Scan
			</li><li>
				CT_Scan
			</li><li>
				CT_Scan
			</li><li>
				CT_Scan
			</li><li>
				CT_Scan
			</li>
		</ul>
	</div>
	<div style="height: 100%; width: 25%; float: left; box-shadow: 2px 2px 5px #888888;">
		<h3 style="text-align: center;">Department</h3><hr>
		<ul>
			<li>
				test types
			</li>

			<li>
				test types
			</li>

			<li>
				test types
			</li>

			<li>
				test types
			</li>

			<li>
				test types
			</li>

			<li>
				test types
			</li>
			
			<li>
				test types
			</li>
			<li>
				test types
			</li>
		</ul>
	</div>
	<div style="height: 100%; width: 50%; float: left; box-shadow: 2px 2px 5px #888888;">
		<table style="width: 100%; overflow-y: auto;">
		<thead class="header-fixed">
			<th><input type="checkbox"></th>
			<th>sn</th>
			<th>test name</th>
			<th>Lower bound</th>
			<th>Upper Bound</th>
			<th>Price</th>
			<th>Unit</th>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
			<tr>
				<td><input type="checkbox" name=""></td>
				<td>1</td>
				<td>glucose test</td>
				<td>20</td>
				<td>80</td>
				<td>Rs. 200</td>
				<td>mmHg</td>
			</tr>
		</tbody>
		</table>
	</div>
</div> -->

			<h1><p>nothing to show</p></h1>
<!-- 		<app-search-window></app-search-window> -->
		<!-- <div class="size-25">
			<div>
				<p>Select Department</p><hr>
			</div>
			<div>
				<ul>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
					<li>
						CT_Scan
					</li>
				</ul>
			</div>
		</div>
		<div class="size-25">
			<div>
				<p>Select Test Type</p><hr>
			</div>
		</div>
		<div class="size-50">
			<div class="responsive-table">
				<p>Select Test</p><hr>
				<div class="size-50 full-width">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Rate</th>
								<th>Discount</th>
								<th>Lower Bound</th>
								<th>Upper bound</th>
								<th>Units</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
							<tr>
								<td>Mr.Prabin Raj Upreti</td>
								<td>Rs 200</td>
								<td>0.00</td>
								<td>20</td>
								<td>80</td>
								<td>mmHg</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="size-50 full-width">
					<p>selected Test</p><hr>
					upreti
				</div>
			</div>
		</div> -->