<div class="customBody">
	<div class="row">
		<div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Patient</h3>
			</div>
			<div class="customBody">
				<h2>{{totalPatient}}</h2>
			</div>
		</div>
		<div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Doctor</h3>
			</div>
			<div class="customBody">
				<h2>{{totalDoctor}}</h2>
			</div>
		</div>
		<div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Patient today</h3>
			</div>
			<div class="customBody">
				<h2>{{totalPatientToday}}</h2>
			</div>
		</div>
		<div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Department</h3>
			</div>
			<div class="customBody">
				<h2>{{totalDepartment}}</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Test Type</h3>
			</div>
			<div class="customBody">
				<h2>{{totalTestType}}</h2>
			</div>
		</div>
		<div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Test</h3>
			</div>
			<div class="customBody">
				<h2>{{totalTest}}</h2>
			</div>
		</div>
		<!-- <div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Patient today</h3>
			</div>
			<div class="customBody">
				<h2>{{totalPatientToday}}</h2>
			</div>
		</div>
		<div class="col-sm-3 customDashboard">
			<div class="customHeader">
				<h3>Number of Department</h3>
			</div>
			<div class="customBody">
				<h2>{{totalDepartment}}</h2>
			</div>
		</div> -->
	</div>
</div>

<div class="col-md-4 col-sm-6 list-group-box blue">
	<div class="list-group">
		<a href="#" class="list-group-item tumber">
			<h3 class="pull-right">
				<i class="fa fa-list"></i>
			</h3>
			<p class="list-group-item-text">
				My Listings
			</p>
			<h4 class="list-group-item-heading count" id="total-product">21</h4>
		</a>
	</div>
</div>