.customBody{
	padding:5px;
	/* color: #f8f9fa;	 */
}
.customDashboard{
	padding:10px;
	background-color: #868e96;
	border: 5px solid #fff;
}
.customHeader{
	padding:10px;
	text-align: center;
}
.customBody{
	padding: 10px;
	text-align: center;
}
.huge{
	font-size: 25px;
}

