    <legend>Select Department</legend>
    <div class="list-group" style="height:60vh; overflow:auto;background-color:#f5f5f5">
            <a class="list-group-item" [ngClass] = "{'active': i == className}" *ngFor = "let department of departments; let i = index" (click) = pushdepartment(i)>
                {{department.name}}
            </a>
            
<div *ngIf="startLoading" class="loading">
		<div class="loading-bar"></div>
		<div class="loading-bar"></div>
		<div class="loading-bar"></div>
		<div class="loading-bar"></div>
    </div>
    
    </div>